<nav class="navbar navbar-expand-lg  nav-my-css">

    <a class="navbar-brand" routerLink="#">BBG</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto custom-nav">
            <li id="type" class="nav-item active">
                <a class="nav-link" routerLink="/typeOfBikes"> Type of Bikes <span class="sr-only">(current)</span></a>
            </li>
            <li id="features" class="nav-item">
                <a class="nav-link" routerLink="/bikeFeatures"> Bike Features </a>
            </li>
            <li id="size-calculator" class="nav-item dropdown">
                <a class="nav-link" routerLink="/sizeCalculator"> Size Calculator</a>
            </li>
            <li id="bikes" class="nav-item">
                <a class="nav-link" routerLink="/exploreBikes">Explore Bikes</a>
            </li>
        </ul>
        <div id="showUser">
        </div>

        <log-in></log-in>
    </div>
</nav>