*{
    color: white;
}

.userMenu{
    background-color: lightblue;
    color: black;
}

option {
    color: black;
}
.test{
   
    border-left: 1px solid white;
    
   

  
   
}
li{
    list-style-type: none;
}
.drop{

    display: none;
}

.show{
    display: block;
}