<h2>
  How to choose bicycle features
</h2>

<article class="row">
  <h3 class="col-sm-12">
    Gears
  </h3>

  <img class="col-sm-12 col-lg-6 test" src="../../../assets/Images/Road-bike-gears-820x360.jpg" alt="bycicle gears">

  <p class="col-sm-12 col-lg-6">
    <b class="heading-start">Gears</b>
    If your last bike was a 10-speed, then you may be surprised to learn that today's bikes commonly come with 18, 21,
    24 or even 27 gears. When you factor in the many combinations of multiple chainrings and cogs and the numbers of
    teeth on them, things can get complex.
    To keep it simple, the most important things to consider are your fitness level and the terrain you'll be riding.
    If you'll be riding lots of hills and you find climbing challenging, then you'll want to opt for more gears.
    If you're a strong cyclist or you only ride flat terrain, you won't need as many low gears to power up a hill so
    you can get away with fewer gears, which will keep your bike light. Some hybrid bikes have only one speed, and are
    aptly named single-speed bikes. These bikes have a freewheel mechanism in the rear hub that allows you to coast
    just like you would on a standard bike with multiple gears.
    Learn more about bike gears in our Bike Gears and Shifting Basics article.
  </p>

</article>
<article class="row">

<h3 class="col-sm-12">
  Wheel Size
</h3>

<p class="col-sm-12 col-lg-6">

  <b class="heading-start">Wheel Size:</b> <b>700c:</b>
  This is the standard size wheel found on almost every road bike and hybrid bike. Don’t worry too much about wheel
  size on a road bike unless you’re smaller in stature and have had trouble finding the right fit on a bike, in which
  case you may want to look for a bike with smaller 650c wheels. <br>

  <b>650c:</b>
  A handful of road bikes are designed for smaller 650c wheels. If you’re shorter than about 5 ft. 4 in. and have had
  trouble finding the right fit on a road bike with 700c wheels, you may want to try a bike with 650c wheels.
  <br>

  <b>26 in.:</b>
  In the not-too-distant past, all adult mountain bikes were equipped with 26 in. wheels. It still is an available
  wheel size, but now when you walk into a bike shop and inquire about mountain bikes, you are likely to be asked,
  “27.5 in. or 29 in.?”
  <br>

  <b>27.5 in.</b>
  (also known as 650b): Offering a middle ground between standard 26 in. wheels and 29ers, this wheel size applies a
  “best of both worlds” solution, more easily rolling over terrain than the 26s, but more maneuverable than 29ers.
</p>
<br>

<img class=" gears col-sm-12 col-lg-6 img-clear" src="../../../assets/Images/650B-wheel-size-comparison02.jpg" alt="wheel sizes">

<p class="col-sm-12">
  <b>29ers:</b>
  These bikes feature 29 in. wheels that are a little slower to accelerate, but once you start moving you can conquer
  considerably more terrain far easier than on a bike with 26 in. wheels. They are more efficient for longer rides as
  they keep their momentum up and they have a higher “attack angle,” meaning the wheel rolls over trail obstacles
  easier. These bikes have become extremely popular for the cross-country crowd. 29ers can be found in rigid, hardtail
  and full-suspension rigs.


  <b>24 in.:</b>
  Many kids’ bikes have 24 in. wheels to accommodate the shorter legs of children. Most are less-expensive versions of
  adult bikes with simpler components. Generally speaking, these suit kids ages 10 to 13, but this depends more on the
  size of the child than the age. Younger/smaller children can get started on mountain bikes with 20 in. wheels.

  <b>20 in.:</b>
  This wheels size is found on some BMX and folding bikes and is also common on kids’ bikes.

  <b>16 in. and 12 in.:</b>
  These wheel sizes are found on bikes for young kids. 16 in. wheels are often accompanied by training wheels and 12
  in. wheels are common on balance bikes for real young riders.
</p>
</article>