<article class="art">

  <h3>
  Mountain bikes
  </h3>

  <p>
  Designed with shock-absorbing features and better braking systems, mountain bikes can handle dirt trails and the rocks, roots, bumps and ruts that come with them. They usually feature lower gears than most road bikes to better handle steeper terrain.
  </p>

  <img class="img-fluid" src="../../assets/Images/norco-1-601x400.jpg" alt="Turning bike" >

  <p>
  There are several categories of mountain bikes:
  </p>

  <p>
  <b>Trail Bikes:</b>
   This is arguably the most common mountain biking style because the category isn’t grounded in any specific type of racing. If you’re interested in meeting up with friends at the local trailhead and riding a mixture of climbs and descents, then this is the style for you. Bikes in this category place equal emphasis on fun, efficiency and sensible overall weight.
   Typical specs: 120–140mm of suspension travel; 67–69° head-tube angle
   </p>

   <img class="img-fluid" src="../../assets/Images/DSC9539.jpg" alt="Turning bike" >

   <p>
    <b>Cross-Country Bikes:</b>
     This style of riding typically implies riding fast, with an emphasis on climbing prowess. Distances vary from just a few miles to 25-plus, and bikes tend to focus on efficiency and low weight. These bikes can be great if you’re considering getting competitive or would like a racier ride for your local trails.
     Typical specs: 80–100mm of suspension travel; 70–71° head-tube angle
     </p>

     <p>
     <b> Downhill/Park Mountain Bikes:</b>
      Mostly ridden at lift-serviced bike parks, these bikes aren’t sold by REI. Downhill bikes are big and tough, and riders wear full-face helmets and body armor as they encounter jumps,berms, rock gardens and wooden ladders.  Typical specs: 170–200+mm of suspension travel; 63–65° head-tube angle.
      </p>         
      </article>