<div class="row ">
  <div class="col-lg-3 wraper">
    <div class="asaid-nav">
      <form #fa="ngForm" (ngSubmit)="SearchFunction(fa)">
        <div class="row no-gutters">
          <input type="text" ngModel placeholder="Search" name="search" class="search col-lg-9" id="search">
          <!-- <div class="col-lg-3"> -->
          <button type="submit" id="searchButton" value="something"><i class="fa fa-search"></i></button>
          <!-- </div> -->
        </div> <br>
      </form>

      <form #f="ngForm" (ngSubmit)="onSubmit($event,f)">
        <p class="nav-heading">Type</p>
        <label for="">
          <input type="checkbox" ngModel name="Type" value="Road">Road
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Type" value="Mountain">Mountain
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Type" value="Hibrid">Hibrid
        </label><br>
        <hr>
        <label for="">
          <input type="checkbox" ngModel name="Brand" value="Scott">Scott
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Brand" value="Cube">Cube
        </label><br>
        <label>
          <input type="checkbox" ngModel name="Brand" value="Trek">Trek
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Brand" value="Focus">Focus
        </label><br>
        <hr>
        <label for="">
          <input type="checkbox" ngModel name="Size" value="29">29
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Size" value="27.5">27.5
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Size" value="700c">700c
        </label><br>
        <label for="">
          <input type="checkbox" ngModel name="Size" value="650c">650c
        </label><br>




        <div class="col-lg-12 submitSort">
          <hr>
          <input type="submit">

        </div>

      </form>

    </div>
  </div>

  <div class="col-lg-9">
    <div *ngIf="!filteredBikes">
      Loading
    </div>
    <div *ngIf="filteredBikes">
      <show-bikes [bikeList]="filteredBikes"></show-bikes>
    </div>

  </div>
</div>