
.asaid-nav{
    text-align: left;
    background-color: cadetblue;
    
    height:auto;
    padding: 10px;
    
}

hr{
    border: 3px solid black;
    
}

.submitSort {
    text-align: center;
}

.wraper {
    /* padding: 0px; */
    padding-left: 15px;
    
  
}

.show {
    padding-left: px;
}

