<article>

  <h3>
  Hibrid Bikes
  </h3>

  <p>
   A mix of mountain, road, and touring designs, hybrid bikes mash up specific features to create do-it-all bikes with a wide range of uses. Generally, you’ll get the skinny, speedy wheels of road bikes mixed in with the quick-turning prowess of mountain bikes, plus a dash of comfort with a plush saddle or even a shock-absorbent fork. They usually combine a flat bar and a heads-up ride for comfort and a better view when riding in traffic. Some hybrid bikes are equipped with disc brakes for responsive braking while bike commuting in any weather. Many commuter-friendly models include racks, lighting systems or fenders.
   No two hybrid bikes are exactly the same, so look for a bike equipped with features that make it suited to the type of riding you plan to do.
   </p>

   <img class="img-fluid" src="../../assets/Images/Best-Hybird-bikes-under-1000.jpg" alt="Turning bike" >

   <p>
    Specialty bikes have very specific features and end uses that set them apart from other bikes we sell. Specialty bikes include cruiser bikes, cargo bikes, electric bikes and folding bikes.
    </p>

   <p>
   <b>Cruiser bikes:</b>
    Cruiser bikes are built for leisurely rides around town. Many of them feature slightly wider 26-inch tires than other pavement bikes, a comfortable seat and a relaxed sitting position. Some cruiser bikes even have internally geared rear hubs for easy maintenance.
    </p>

    <p>
    <b>Cargo bikes:</b>
     With stout frame designs that are built for stowing gear and carrying lots of weight, cargo bikes make it easy to run errands and transport kids. While they tend to be heavier and slower than other types of bikes, their utility makes them popular for urban cycling.
     </p>

     <img class="img-fluid" src="../../assets/Images/Pedego-Ridge-Rider-electric-bike-1.jpg" alt="Turning bike">

     <p>
     <b>Electric bikes:</b> 
     Electric bikes feature a battery-powered motor that can help you climb hills easily or make your commute less strenuous. Built-in sensors can monitor how much pressure you're putting on the pedals and then apply battery power accordingly.
     </p>

     <br>

     <p>
     <b>Folding bikes:</b>
      These bikes can be folded up and placed in a carrying bag, which makes them handy for commuters with limited storage space at home or the office. They are lightweight yet strong and can be folded up quickly and easily. Folding bikes are also a good choice for those who want to travel with their bike.
      </p>

     </article>

     
      
   