.tumb{
    width: 108px;
    height: 108px;
    border: 1px solid gray;
    
  }

  .tumbs {
      padding-top: 20px;
  }

  .tumbs :hover{
  opacity: 0.5; 
  cursor: pointer;
  }

  .main-img-bike{
      width: 100%;
      height:auto;
  }

.container{
    max-width: 100%;
    background-color: #fff;    
    text-align: left;
}

.header{
    text-align: center;
}

.customAdd{ 
    margin: auto;
    margin-top: 30px;
}

.Info {
    background-color: lightblue;
}