*{
    color: white;
}

.userMenu{
    background-color: lightblue;
    color: black;
}

option {
    color: black;
}
li{
    list-style-type: none;
}
.drop{
    display: none;
}

.show{
    display: block;
}