<ul class="nav justify-content-end" > 

   <li class="nav-items ">
    <form action="">
        <!-- <select ngModel="selectedItem"   #model="ngModel" class="userMenu" (change)="log(model)" name="sel">
            <option  value="menu">menu</option>
            <option value="favorite">Favorite Bikes</option>
            <option value="logout">Logout</option>
          
          </select> -->
          <ul>
             <li><button class="btn-primary"  (click)="dropDown()">userMenu</button></li>
             <li class="drop" ><button class="btn-primary">Favorite Bikes</button></li>
             <li class="drop" ><button class="btn-primary">Log out</button></li>
          </ul>
    </form>
     
  </li> 
   <li class="nav-items">
      <span class="navbar-text userWelcome nav-link">
         Wlcome: {{name}}
      </span>
  </li>

</ul> 
