<article class="row">

  <h3 class="col-sm-12">
    Bike Suspension
  </h3>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/FT49RNz4Cyc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>


  <p class="col-sm-12 col-lg-12">
    <b class="heading-start">Full Suspension:</b>
    Found exclusively on mountain bikes, full suspension incorporates a front suspension fork and rear shock to absorb
    the impacts of the trail. This drastically reduces the impact on the rider, increases traction, and makes for a
    more forgiving and enjoyable ride.
  </p>
  <img class="gears col-sm-12 col-lg-6 costumImg" src="../../../assets/Images/DTP_1802.jpg" height="300px" alt="wheel sizes">
  <p class="col-sm-12 col-lg-6">
    <b>Front Suspension:</b> Bikes with front suspension generally fall into either the mountain bike or hybrid bike
    categories. The front suspension fork helps absorb impacts on the front wheel to smooth out the ride, whether
    you’re on a rocky trail or a rough city street. Bikes with only front suspension are typically less expensive than
    full-suspension bikes and have fewer moving parts (which often translates into less maintenance).

  </p>

</article>
<article class="row">

  <h3 class="col-sm-12">
    Brakes
  </h3>



  <p class="col-sm-12 col-lg-12">
    <b>Rim Brakes:</b> Many road bikes come equipped with rim brakes. Rim brakes feature pads that grip onto the wheel
    rims.
    Advantages compared to disc brakes: Economical; easy to observe brake pad wear; easy to replace worn pads.
    Disadvantages compared to disc brakes: Gradually wear out the wheel rim, requiring the wheel to be replaced; less
    stopping power; less effective in wet or muddy conditions; require more finger effort on the levers to brake
    aggressively.

  </p>
  <img class="col-sm-6 costumIm" src="../../../assets/Images/Content_Team_071018_0031_Disk_Brakes.jpg" alt="bycicle brakes">
  <p class="col-sm-12 col-lg-6">
    <b>Disc Brakes:</b> These feature brake pads that grip onto a brake rotor mounted to the wheel hub. Disc brakes
    come in two versions: <br>
    <i>Hydraulic disc brakes</i> offer more progressive and stronger braking with less finger effort, and they
    self-adjust for brake pad wear. <br>
    <i>Mechanical disc brakes</i> need manual adjusting as the pads wear.
    When you compare disc brakes to rim brakes there are several clear advantages and disadvantages: <br>
    Advantages compared to rim brakes: More consistent braking in all conditions; much cheaper to replace a worn rotor
    than a whole wheel; superior performance in steep and wet terrain; less finger strain. <br>
    Disadvantages compared to rim brakes: More difficult to inspect pad wear and replace pads. Hydraulic brakes are
    more expensive to service.
  </p>


</article>
<article class="row">

  <h3 class="col-sm-12">
    Handlebar Shape
  </h3>

  <img class="col-sm-12 col-lg-6 costumImg" src="../../../assets/Images/bicyclehandlebartypes.png" alt="bycicle hendelbars">

  <p class="col-lg-6 col-sm-12">
    <b class="heading-start">Handlebar Shape</b>


    There are 5 basic styles of handlebars: <br>
    <b>Drop bar:</b> Found on most road bikes, drop-bar handlebars are lightweight and aerodynamic, making them the
    preferred choice if you want to go fast. They also allow several riding and hand positions. They’re downside is
    that they put you in a lower, more hunched over position that may put more strain on your back.
    <br>
    <b>Flat bar:</b> These bars are typically found on hybrid bikes and on some road and mountain bikes. They are
    heavier than drop-bar handlebars, but they let you sit up in a more relaxed position so you can better see the road
    and potential hazards. This upright position reduces strain on your hands, wrists and shoulders.
    <br>
    <b>Riser bar:</b> Commonly found on mountain bikes, riser bars extend slightly upward and back toward the rider.
    They allow you to sit more upright and farther back for excellent vision of the trail ahead and good control while
    steering the bike.
    <br>
    <b>Moustache bar:</b> These bars look similar to drop bars, only with very little drop. They give you a variety of
    hand positions while allowing you to sit more upright than with drop bars. Moustache bars are found on some road
    bikes and hybrid bikes.

  
</article>
<a routerLink="/" routerLinkActive="active"><button class="btn-primary"> <<< Go to Type of Bikes </button></a>
<a routerLink="/sizecalculator" routerLinkActive="active"><button class="btn-primary">Go Size Calculator >>></button></a>