h3, h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
}


.costumImg {
    border-radius: 25px;
    width: 100%;
    height: auto;
    
}

iframe {
    margin: auto;
    border-radius: 15px;
    width: 560px;
    height: 315px;
}
h3 {
    padding: 20px;
}

.costumIm{
    border-radius: 40px;
    width: 100%;
    height: auto;
}

article > p {
    text-align: left;
}



@media only screen and (max-width: 900px)  {
    
    iframe {
        width: 80%;
        height: auto;
    }
}


button {
    margin: 10px;
  
}