h3, h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
}


.test {
    border-radius: 20px;
    width: 90%;
    height: auto;
    
}

iframe {
    margin: auto;
    border-radius: 15px;
    width: 560px;
    height: 315px;
}
h3 {
    padding: 20px;
}


article > p {
    text-align: left;
}
p {
    /* margin-left: 5px;
    margin-right: 5px; */
}


@media only screen and (max-width: 900px)  {
    
    iframe {
        width: 80%;
        height: auto;
    }
}