<article class="row">
           
  <h3 class="col-sm-12">
   Bike Suspension
  </h3>

   <img class="gears col-sm-12 col-lg-6" src="../../../assets/Images/DTP_1802.jpg" height="300px" 
   alt="wheel sizes">

   <p class="col-sm-12 col-lg-6">
   <b class="heading-start">Bike Suspension:</b>
   Full Suspension: Found exclusively on mountain bikes, full suspension incorporates a front suspension fork and rear shock to absorb the impacts of the trail. This drastically reduces the impact on the rider, increases traction, and makes for a more forgiving and enjoyable ride.

   Front Suspension: Bikes with front suspension generally fall into either the mountain bike or hybrid bike categories. The front suspension fork helps absorb impacts on the front wheel to smooth out the ride, whether you’re on a rocky trail or a rough city street. Bikes with only front suspension are typically less expensive than full-suspension bikes and have fewer moving parts (which often translates into less maintenance).
  
   No Suspension: Most road bikes and many hybrid bikes do not include any suspension at all. Suspension forks and rear shocks add weight and can make pedaling less efficient, so most people who ride on bike paths and paved streets will forego it. A handful of mountain bikes don’t include suspension either and are appropriately called “rigid bikes.” Rigid bikes are easier to maintain and usually less expensive, but most mountain bikers prefer bikes with suspension for greater comfort.
   </p>
   
   </article>
   <article class="row">

    <h3 class="col-sm-12">
    Brakes
    </h3>

    <img class="col-sm-12" src="../../../assets/Images/Content_Team_071018_0031_Disk_Brakes.jpg" alt="bycicle brakes">

    <p class="col-sm-12 col-lg-6">
    Rim Brakes: Many road bikes come equipped with rim brakes. Rim brakes feature pads that grip onto the wheel rims.

    Advantages compared to disc brakes: Economical; easy to observe brake pad wear; easy to replace worn pads.
    Disadvantages compared to disc brakes: Gradually wear out the wheel rim, requiring the wheel to be replaced; less stopping power; less effective in wet or muddy conditions; require more finger effort on the levers to brake aggressively.
    Disc Brakes: These feature brake pads that grip onto a brake rotor mounted to the wheel hub. Disc brakes come in two versions:

    Hydraulic disc brakes offer more progressive and stronger braking with less finger effort, and they self-adjust for brake pad wear.
    Mechanical disc brakes need manual adjusting as the pads wear.
    When you compare disc brakes to rim brakes there are several clear advantages and disadvantages:

    Advantages compared to rim brakes: More consistent braking in all conditions; much cheaper to replace a worn rotor than a whole wheel; superior performance in steep and wet terrain; less finger strain.
    Disadvantages compared to rim brakes: More difficult to inspect pad wear and replace pads. Hydraulic brakes are more expensive to service.
    </p>

    <p class="col-sm-12 col-lg-6">
    Coaster Brakes: These brakes are often found on kids’ bikes, BMX bikes and some cruiser bikes. The brake mechanism is located in the rear hub and is activated by turning the pedals backwards. “Coaster” indicates that you can coast without the pedals turning.

    Advantages: Work well in any weather; typically require less maintenance than other brake styles; good for people with limited hand strength, such as kids.
    Disadvantages: Not compatible with bikes with rear derailleurs; prone to causing skids; can be awkward to get started pedaling because you can’t rotate the pedals backward into a starting position.
    Drum Brakes: Drum brakes are integrated into the wheel hubs and are activated by levers on the handlebar. They’re typically found on cruiser bikes.

    Advantages: Weather resistant; generally require very little maintenance.
    Disadvantages: If a drum wears out, the hub and often the wheel need to be replaced; tend to be heavier than other brake styles.
    </p>
    </article>
    <article class="row">

      <h3 class="col-sm-12">
      Handlebar Shape
      </h3>

      <img class="col-sm-12 col-lg-6" src="../../../assets/Images/bicyclehandlebartypes.png"  alt="bycicle hendelbars">

      <p class="col-lg-6 col-sm-12">
      <b class="heading-start">Handlebar Shape</b> 
      
       
        There are 5 basic styles of handlebars on bikes available at REI:
        
        Drop bar: Found on most road bikes, drop-bar handlebars are lightweight and aerodynamic, making them the preferred choice if you want to go fast. They also allow several riding and hand positions. They’re downside is that they put you in a lower, more hunched over position that may put more strain on your back.
        
        Flat bar: These bars are typically found on hybrid bikes and on some road and mountain bikes. They are heavier than drop-bar handlebars, but they let you sit up in a more relaxed position so you can better see the road and potential hazards. This upright position reduces strain on your hands, wrists and shoulders.
        
        Riser bar: Commonly found on mountain bikes, riser bars extend slightly upward and back toward the rider. They allow you to sit more upright and farther back for excellent vision of the trail ahead and good control while steering the bike.
        
        Moustache bar: These bars look similar to drop bars, only with very little drop. They give you a variety of hand positions while allowing you to sit more upright than with drop bars. Moustache bars are found on some road bikes and hybrid bikes.
        
        BMX bar: These handlebars are designed to be strong and durable to handle the abuse of bike tricks.</p>

      </article>