
.container{
    max-width: 100%;
    background-color: #fff;
    min-height: 700px;
    text-align: center;
}

.size{
    width: 70%;
    height: 300px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    
    
}

.showFav{
    width: 70%;

    background-color: lightgrey;
    margin: auto;
    margin-top: 0px;
}