
.container{
    max-width: 100%;
    background-color: #fff;
    min-height: 700px;
    text-align: center;
}

.size{
    width: 70%;
    height: 300px;
    background-color: lightgrey;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
    
    
}

li {
    text-align: left;
}

.showFav{
    width: 70%;

    background-color: lightgrey;
    margin: auto;
    margin-top: 0px;

}

img {
    margin: 5px;
}

.link{
    width: 600px;
    margin-bottom: 30px;
    margin-top: 30px;
}
a {
    text-decoration: none;
    color: black;
    line-height: 40px;
    width: 600px;
}

.remove {
    float: right;
}