
<div class="container ">
 

  <img src="../../../../assets/Images/logo1.png"   alt="cube logo"> <br>
  <img src="../../../../assets/Images/cube-logo1.jpg" height= 100px; alt="cube logo">
  <img src="../../../../assets/Images/trek_bicycle.png" height= 100px; alt="cube logo">
  <img src="../../../../assets/Images/scott_logo1.jpg" height= 100px; alt="cube logo">
  <img src="../../../../assets/Images/brand1.jpg" height= 100px; alt="cube logo">
  <div class="size">
    <h3> Your Bikes Size:</h3>
     <div *ngIf="userBikes" >
        <p>Your Mountain and Hybrid bike tube size is {{ userBikes.sizes.MountHibrid.inches }}</p>
        <p>Your Mountain and Hybrid bike size is {{userBikes.sizes.MountHibrid.size}}</p>
        <p>Your Road bike size is {{userBikes.sizes.Road.inches}}</p>
        <p>Your Road bike size is {{userBikes.sizes.Road.size}}</p>
      </div>
  </div>

  <button class="btn-primary"><a routerLink="/sizecalculator" routerLinkActive="active">Mesure your bike size</a></button>

  <div class="showFav" id="fav">
  <h3>  Your fvorite bikes:</h3>
    You have {{linkBikes.length}} bikes selected;

  
      <div *ngFor="let bike of linkBikes">
        <a  routerLink="/explorebikes/{{bike}}" >
          {{bike}}
        </a>
        
        </div>
  </div>
 
  <button class="btn-primary"><a routerLink="/explorebikes" routerLinkActive="active">Explore bikes</a></button>
</div>

