<div class="col-lg-12 row bikes-render">
    <div *ngFor="let bike of pagedItems; let i = index" class='col-sm-12 col-lg-4 wrapper'>

        <div class="showBike">
            <button class=showButton>
                <a [routerLink]="['/explorebikes', bike.routeName]">
                    <div>
                        <img src="../../assets/Images/image{{i > 4 ? i - 5 : i}}.jpg" class="bikeImage" alt="">
                        <div class="info">
                            <p>Brand: {{bike.brand}}</p>
                            <p>Model: {{bike.model}}</p>
                            <p>Type : {{bike.type}}</p>
                        </div>
                    </div>
                </a>
            </button>
        </div>
    </div>
    <div>
        <div class="container pagina clear">
            <div class="text-center">

                <ul class="pagination" *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link" (click)="setPage(1)">First</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a class="page-link" (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="bikeList.length == 0">
            Nothing Found!
        </div>

        <bike-info></bike-info>
    </div>
</div>