<h2>
  How to choose bike type
</h2>

<img class="img-fluid" src="../../assets/Images/New_Riders_on_Bikes_1853006169.jpg" alt="riders on bikes" width="800px"
  hight="600px">`

<article>

  <h3>
    Road Bikes
  </h3>

  <p>
    Road bikes are good for multiple pavement uses including fitness riding, commuting, long-distance/event rides,
    touring and racing. They usually have lightweight drop-bar handlebars that curve downward, putting you in an
    aerodynamic position, making them a good choice if you want to go fast or are most concerned with efficiently
    transferring your energy into making the bike move forward. They also allow for a greater number of riding and hand
    positions than bikes with flat bars. Their more aerodynamic riding position (bent over at the waist) may put more
    strain on your back if you are less flexible.
  </p>

  <img class="img-fluid" src="../../assets/Images/specialized-venge-pro-20191.jpg" alt="Rode Bike" width="800px" hight="600px">

  <p>
    Road bikes have some specialized categories:
  </p>

  <p>

    <b>Racing bikes:</b>
    These light and aerodynamic bikes are built for going fast on the flats and charging up hills on race day or during
    a group ride with friends. Their frames are usually made from carbon fiber or aluminum and they have a slimmed-down
    design that’s intended to be as light as possible. Racing bikes generally have an aggressive geometry with steep
    angles that make them turn quickly.
  </p>

  <p>
    <b>Endurance bikes:</b>
    Endurance bikes have many of the performance features of racing bikes, but with a frame geometry that puts you in a
    more comfortable riding position. They generally have taller head tubes, slacker (lower) angles and sloping top
    tubes intended to reduce stress on your back and neck. They also often feature clearance for larger width tires for
    versatility and a softer, more comfortable ride. Some endurance bikes have flat handlebars, for those who prefer a
    more heads-up riding style.
  </p>
<!-- 
  <img class="img-fluid" src='../../assets/Images/classic_touring_bike-1462899249635-ds181033h2kx-1000-90.jpg' alt="turning bike"
    width="800px" hight="600px" /> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KqHKSoBEPsI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>

    <b>Cyclocross bikes:</b>
    Cyclocross bikes are lightweight, yet tough enough to deal with the extreme conditions of cyclocross racing (which
    involves riders taking laps around courses that may feature pavement, dirt trails and grass). Most cyclocross bikes
    have semi-knobby tires to handle the terrain challenges.
  </p>

  <p>
    <b>Touring Bikes:</b>
    Touring bikes have a few tweaks on the traditional road bike design that make them ideal for long-distance bike
    tours. They are designed with sturdy frames capable of carrying heavy loads on front and rear racks and feature
    multiple attachment points so you can attach racks, fenders, water bottles, pumps, lights and more. Many touring
    bikes have a longer wheelbase (the distance between the two wheel hubs) than other road bikes and they tend to have
    a lower center of gravity, which makes them easier to control. Many touring bikes also have disc brakes for
    improved stopping power while hauling heavy loads on non-paved surfaces.
  </p>

  <a href="#">Explore Road Bikes</a>

</article>