.nav-my-css{
    background-color: black;
    position: relative;
    /* overflow: visible; */
    background-color: black;
}
.nav-heading{
    font-weight: bold;
    font-size: 20px;
}
.nav-link {
    font-size: 16px;
    text-transform: uppercase;
   
} 
 .nav-item {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid white;
    
}
.nav-items{
    padding-right: 20px;
    padding-left: 20px;
  
}
.nav-item :hover {
    color: white;
   
}
.nav-item::after{
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: 0.2s;
    background:white;
}
.nav-item:hover::after{
    width: 100%;
}

.nav-link{
    padding:10px 5px;
    transition:0.2s;
}
.alert-denger{
   color: red;
   font-size: 12px;
}

.custom-nav{
    font-size: 1vw;
}
#navbarSupportedContent{
    height: 50px;
    overflow: visible;
}

.test{
    position: absolute;
    right: 5px;
   
}

button {
    color: wheat;
}
.navbar-toggler {
    color: white;
}
* {
    color: white
}